*{
	margin: 0;
	padding: 0;
}

header{
	width: 100vw;
	height: 8.5vh;
	background-color: #282828;
	border-bottom: 1px solid white;
}

header h1{
	position: absolute;
	left: 1vw;
	top: 1vh;
	font-family: 'Alfa Slab One', cursive;
	font-size: 2.5vw;
	color: #ffffff;
}

header nav ul{
	width: auto;
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	right: 0.5vw;
	margin-top: 1vh;
}

header nav ul li{
	display: inline-block;
	padding: 0.5vw 1vw;
	padding-bottom: 0.5vh;
}

header nav ul li a{
	outline: none;
	text-align: center;
	color: #ffffff;
	text-decoration: none;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.3vw;
}

header nav ul li a:hover{
	cursor: pointer;
	color: #ffc107;
	transition: 0.5s;
}

body{
	background-color: #303030;
	overflow-y: auto;
	overflow-x: hidden;
}
