<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title> &#127968Forum</title>
	</head>
	<header>
		<h1>FORUM</h1>
		<nav>
			<ul>
				<li><a href="/"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
				<li><a href="/signin"><i class="fa fa-sign-in" aria-hidden="true"></i>Sign In</a></li>
				<li><a href="/signup"><i class="fa fa-user-plus" aria-hidden="true"></i>Sign Up</a></li>
			</ul>
		</nav>
	</header>
	<body>
		<div>
			<h2>Topics:</h2>
			<table class="styled-table">
				<thead>
					<tr>
						<th>Name</th>
						<th>Description</th>
						<th>User</th>
						<th>Time stamp</th>
					</tr>
				</thead>
				<tbody>
					{% for topic in topics %}
						<tr>
							<td> <a href = "/see/{{ topic.id }}"> {{topic.name}} </a> </td>
							<td>{{topic.description}}</td>
							<td>{{topic.user}}</td>
							<td>{{topic.timestamp.strftime("%d %b %y %X")}}</td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</body>
</html>