<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap" rel="stylesheet"> 
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
		<title> &#127968Forum</title>
	</head>
	<header>
		<h1>FORUM</h1>
		<nav>
			<ul>
				<li><a href="/logged"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
				{% if profile %}
				<li ><a href="#"><i class="fa fa-user" aria-hidden="true"></i>{{profile}}</a></li>
				<li><a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
				{% endif %}
				
			</ul>
		</nav>
	</header>
	<body>
		{{my}}
	</body>
</html>