<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>&#128221Post</title>
	</head>
	<header>
		<h1 class="forum">FORUM</h1>
		<nav>
			<ul>
				<li><a href="/logged"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
				<li ><a href="#"><i class="fa fa-user" aria-hidden="true"></i>{{profile}}</a></li>
				<li><a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
			</ul>
		</nav>
	</header>
	<body>
		<form method="post">
			<label>Content</label>
			<input name="content"/>
			</br>
			<button type="submit">Submit</button>
		</form>  
		<h3>{{ topic.name }}</h3>
		{% for post in posts %}
			Author:{{post.user}}
			<br/>
			Content:{{post.content}}
			<br/>
			Timestamp:{{post.timestamp.strftime("%d %b %y %X")}}
			<br>
			Update on: {{post.updateon.strftime("%d %b %y %X")}}
			<br/>
			<br/>
			{% if post.user == current_user.username %}
				<button><a href = "/delete/{{ post.id }}" >Delete post</a></button>
				<button><a href = "/update/{{ post.id }}" >Update post</a></button>
			  	<br/>
			  	<br/>
			{% endif %}
		{% endfor %}
	</body>
</html>