<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/topic.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title> &#127968Forum</title>
	</head>
	<header>
		<h1 class="forum">FORUM</h1>
		<nav>
			<ul>
				<li><a href="/logged"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
				<li ><a href="#"><i class="fa fa-user" aria-hidden="true"></i>{{profile}}</a></li>
				<li><a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
			</ul>
		</nav>
	</header>
	<body>
		<div class="topics" id="topics">
			<h2>Topics:</h2>
			<input type="button" name="answer" id="div" value="Add topic" onclick="showDiv()">
			<table class="styled-table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th> 
						<th>Author</th>
						<th style="width: 6vw;">Last update on</th>
					</tr>
				</thead>
				<tbody>
					{% for topic in topics %}
						<tr>
							<td> <a href = "/topic/{{ topic.id }}"> {{topic.name}} </a> </td>
							<td>{{topic.description}}</td>
							<td>{{topic.user}}</td>
							<td>{{topic.timestamp.strftime("%d %b %y %X")}}</td>
						</tr>
					{% endfor %}
				</tbody>	
			</table>
		</div>
		<div class="newtopic" id="newtopics" style=" display: none;">
			<h1>New Topic</h1>
			{% with massages = get_flashed_messages() %}
				{% if massages %}
					{% for mesage in massages %}
						<h3 style="color: red; text-align: center;">{{mesage}}</h3>
					{% endfor %}
					<br>
				{% endif %}
			{% endwith %}
			<form method="post">
				<p>Title</p>
				<input type="text" name="name" placeholder="Ener Title" maxlength="50" required/>
				<p>Description</p>
				<input type="text" name="desc" placeholder="Ener Description" maxlength="100"/>
				<p>First Post</p>
				<br>
				<textarea name="first_post" cols="42" rows="12" maxlength="500" autofocus required></textarea>
				<br>
				<input type="submit" value="Add topic" />
			</form>
		</div>
		<script>
			function showDiv()
			{
				document.getElementById('newtopics').style.display = "block";
				document.getElementById('div').style.display = "none";
				document.getElementById('topics').style.right = "35vw"
			}
		</script>
	</body>
</html>