<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/menu.css') }}">
		<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&family=Open+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>&#9998Update Post</title>
	</head>
	<header>
		<h1 class="forum">FORUM</h1>
		<nav>
			<ul>
				<li><a href="/logged"><i class="fa fa-home" aria-hidden="true"></i>Home</a></li>
				<li ><a href="#"><i class="fa fa-user" aria-hidden="true"></i>{{profile}}</a></li>
				<li><a href="/"><i class="fa fa-sign-out" aria-hidden="true"></i>Sign Out</a></li>
			</ul>
		</nav>
	</header>
	<body>
		<form method="post">
            <label>Update Content</label>
            <input type-"text" name="new_content" value ="{{post.content}}"/>
            </br>
            <button type="submit">Submit</button>
        </form>
	</body>
</html>